<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backup Service</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="home-wrapper">

    <div class="home-container">

        <h1>Backup Service</h1>

        <p class="subtitle">
            Simple backup service learning project built with Django
        </p>

        <div class="buttons">
            <a href="/users/login/" class="btn">Login</a>
            <a href="/users/register/" class="btn">Register</a>
        </div>

    </div>

</div>

</body>
</html>